.brochure-download {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-text-color);
    padding-bottom: 4%;
    margin-top: 15%;
    margin-bottom: 2%;
}