.home-intro {
    display: flex;
    flex-direction: column;
}

.home-title {
    width: 40%;
    margin-bottom: 2rem;
}


/* banner */
.home-banner{
    width: 100%;
    overflow: hidden; /* Hide any overflow */
}

.banner-image{
    width: 100%;
    object-fit: cover;
}


/* description */
.home-description {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.home-description-1 {
    width: 60%;
    border-top: 0.5px solid var(--primary-text-color);
    padding-top: 2rem;
}

.home-description-2 {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 0.5px solid var(--primary-text-color);
}

.home-description-left {
    width: 60%;
    margin-left: 3rem;
    margin-right: 1rem;
}

.home-description-right {
    width: 40%;
}

.home-description-text {
    margin-bottom: 1rem;
}




/* button */
.page-link-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--primary-text-color);
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Hide the overflow to make the border vanish effect work */
}

.page-link-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px; /* Match the border thickness */
    background: var(--primary-text-color);
    transition: all 0.3s ease;
}

.page-link-btn-text {
    width: 60%;
}

.page-link-btn-text, .page-link-btn-icon {
    /* Transition for smooth effect */
    transition: all 0.3s ease;
}

.page-link-btn:hover .page-link-btn-text {
    color: gray;
}

.page-link-btn:hover .page-link-btn-icon {
    transform: translateX(10px); /* Move right */
    color: gray;
}

.page-link-btn:hover::after {
    border: none;
    left: 100%;
}
