body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary-text-color: #2C2C2C;
  --secondary-text-color: #5E5E5E;

  --title-size-1: 2rem;
  --title-size-2: 1.7rem;
  --title-size-3: 1.2rem;
  --text-size-1: 1rem;
  --text-size-2: 0.8rem;
  --btn-text-size-1: 1rem;

  --title-weight-1: 200;
  --title-weight-2: 400;
  --btn-text-weight-1: 400;
}


.page-title-1 {
  font-size: var(--title-size-1);
  color: var(--primary-text-color);
  font-weight: var(--title-weight-1);
}

.page-title-2 {
  font-size: var(--title-size-2);
  color: var(--primary-text-color);
  font-weight: var(--title-weight-1);
}

.page-title-3 {
  font-size: var(--title-size-3);
  color: var(--primary-text-color);
  font-weight: var(--title-weight-1);
}

.page-text-1 {
  font-size: var(--text-size-1);
  color: var(--primary-text-color);
  font-weight: var(--title-weight-1);
}


.btn-text-1 {
  font-size: var(--btn-text-size-1);
  color: var(--primary-text-color);
  font-weight: var(--btn-text-weight-1);
}